{
  "root": true,
  "extends": "airbnb",
  "globals": {
    "fetch": true
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "smells"
  ],
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
      "imports": "always-multiline",
      "objects": "always-multiline"
    }],
    "import/no-named-as-default": 0
  }
}
